<h1>New Organization</h1>
<% if @organization.errors.any? %>
  <div>
    <% @organization.errors.full_messages.each do |message| %>
      <p style="color:red;"><%= message %></p>
    <% end %>
  </div>
<% end %>
<%= form_with model: @organization do |f| %>
  <div>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <%= f.submit "Create Organization" %>
<% end %>

<%= link_to "Back", organizations_path %>
